@charset "utf-8";

body {
	font-size: 9pt
}

.div_frame {
	width: 200px;
	height: 500px;
	overflow: auto;
	float: left;
	margin: 0 20px 20px 0;
	border: 1px dashed #000000
}

.friend_group_li {
	color: black;
	cursor: pointer;
}
.friend_li {
	color: green;
	cursor: pointer;
}
.group_li {
	color: red;
	cursor: pointer;
}

#chat_div .sub_div {
	width: 400px;
	height: 300px;
	border: 1px solid #b7b7b7;
	background-color: silver;
	float: left;
}

#chat_div .highlight {
	background-color: highlight;
}

#chat_div .title_div {
	height: 20px;
}

#chat_div .titile_label  {
	float: right;
	cursor: pointer;
}

#chat_div .msg_div   {
	overflow: auto;
	height: 250px;
	word-break: break-word;
	background-color: white;
}

#chat_div .send_text   {
	width: 300px;
}

#log_div {
	clear:both;
	float: left;
	width: 800px;
	height: 200px;
	border: 1px solid #b7b7b7;
	overflow: auto;
	word-break: break-word;
}